.uudaisukien {
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .side-left {
        background: white;
        padding: 15px;

        h1 {
            color: #eb1689;
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 15px;
            text-align: center;
        }

        .content-event {
            .card-event {
                display: flex;
                margin-bottom: 15px;
                justify-content: flex-start;

                img {
                    background-size: cover;
                    width: 280px;
                    height: 450px;
                }

                .card-event-content {
                    margin-left: 15px;

                    h2 {
                        font-size: 16px;
                        color: #ea3b92;
                        font-weight: 500;
                    }

                    p {
                        font-size: 16px;
                        text-transform: none;
                        line-height: 1.6;
                    }
                }
            }
        }

        .more {
            display: flex;
            justify-content: center;

            button {
                padding: 9px 20px;
                background: pink;
                border: 1px solid #eb1689;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            button:hover {
                background: rgb(235, 22, 137, .9);
            }
        }
    }

    .side-right {
        padding: 15px;
        background: white;
        margin-left: 15px;

        .booking {
            position: relative;
            top: 0%;
            right: 0%;
        }
    }
}

.danhgiaphim {
    box-sizing: border-box;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px auto;

    .side-left {
        background: white;
        padding: 15px;

        h1 {
            font-size: 32px;
            color: #eb1689;
            text-transform: none;
            margin-bottom: 15px;
            text-align: center;
        }

        .card-review {
            display: flex;
            margin-bottom: 15px;
            justify-content: center;

            img {
                border-radius: 5px;
            }

            .content-card-review {
                margin-left: 15px;

                h2 {
                    font-size: 16px;
                    color: #ea3b92;
                    text-transform: none;
                    margin-bottom: 15px;
                }

                p {
                    text-transform: none;
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .side-right {
        padding: 15px;
        margin-left: 15px;
        background: white;

        .booking {
            position: relative;
            top: 0%;
            right: 0%;
        }
    }
}

.thanhvien {
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
    background: white;
    padding: 15px;

    h1 {
        font-size: 32px;
        text-transform: none;
        margin-bottom: 15px;
        color: #eb1689;
    }

    h2 {
        color: #f00a79;
        text-transform: none;
        font-size: 16px;
        margin-bottom: 15px;
    }

    img {
        width: 100%;
        margin: 15px 0px;
    }

    ul {
        margin-bottom: 15px;
        font-size: 16px;
        padding-left: 40px;

        li {
            text-transform: none;

            span {
                color: #ff0000;
                text-transform: none;
            }

            b {
                text-transform: none;
            }

            .ul2 {
                margin: 15px 0px;
                padding-left: 40px;
            }
        }
    }

    p {
        text-transform: none;
        font-size: 16px;
        margin-bottom: 15px;

        a {
            text-transform: none;
            text-decoration: none;
            color: #3097d1;
        }

        a:hover {
            text-decoration: underline;
        }

        b {
            text-transform: none;

            i {
                text-transform: none;
            }
        }
    }
}