* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cinema {
    background-image: url('./Image/bg.jpg');
    background-position: center;
    background-size: cover;
}